.contact {
  &_breadcrumbs {
    margin-top: 20px;
    margin-bottom: 20px;
    h2 {
      color: var(--Gray-400---Opacity, #9ca3af);

      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      span {
        color: var(--Gray-400---Opacity, #9ca3af);

        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        @media (max-width: 600px) {
        line-height: 20px;
        font-size: 15px;
        }
      }
    }
  }
  &_logo {
    &_img {
      img {
        display: flex;
        margin: 0 auto;
        @media (max-width: 600px) {
          width: 100%;
          display: none;
        }
      }
    }
  }
  .support {
    padding-top: 48px;
    padding-bottom: 48px;
    background-image: linear-gradient(
      180deg,
      rgba(255, 241, 249, 0) 0%,
      #f92296 100%
    );
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(4px);
    @media (max-width: 600px) {
      padding-top: 0px;
    }
    .image {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        position: absolute;
        z-index: -5;
        top: 0;
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
        width: 100%;
        max-height: 100%;
        opacity: 0.2;
        // backdrop-filter: blur(4px);
      }
    }
    &_info {
      margin-top: 60px;
      @media (max-width: 600px) {
        margin-top: 10px;
      }
      h2 {
        color: var(--pink-pink-4-main, #f92296);
        font-size: 27px;
        font-style: normal;
        font-weight: 800;
        line-height: 32px;
        margin-bottom: 20px;
        @media (max-width: 600px) {
          font-size: 23px;
        }
      }
      ul {
        padding: 0;
        li {
          list-style-type: none;
          display: flex;
          p {
            margin-left: 5px;
            margin-right: 5px;
            color: var(--gray-gray-3-main, #1f2937);
            text-align: justify;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
            @media (max-width: 600px) {
              font-size: 18px;
            }
          }
        }
      }
    }
    &_form {
      display: flex;
      padding: 16px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      flex: 1 0 0;
      align-self: stretch;
      border-radius: 16px;
      background: rgba(69, 2, 38, 0.5);
      position: relative;

      &_wrap {
        width: 100%;
      }
      &_title {
        border-bottom: 1px solid #fff;
        h2 {
          color: var(--gray-gray-11-main, #fff);
          text-align: justify;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 32px; 
          @media (max-width: 600px) {
            font-size: 21px;
          }
        }
        p {
          color: var(--gray-gray-11-main, #fff);
          text-align: justify;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
        }
      }
      &_content {
        margin-top: 20px;
        label {
          color: var(--gray-gray-11-main, #fff);
          text-align: justify;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          width: 100%;
          // border-radius: 10px;
          span {
            color: red;
          }
        }
        .phone_sp {
          width: 100%;
          border-radius: 8px;
          border-color: #fff;
          display: flex;
          height: 40px;
          padding: 8px 16px;
          align-items: flex-start;
          gap: 10px;
          align-self: stretch;
        }
        .email_sp {
          width: 100%;
          border-radius: 8px;
          border-color: #fff;
          display: flex;
          height: 40px;
          padding: 8px 16px;
          align-items: flex-start;
          gap: 10px;
          align-self: stretch;
        }
        .user_sp {
          width: 100%;
          border-radius: 8px;
          border-color: #fff;
          display: flex;
          height: 40px;
          padding: 8px 16px;
          align-items: flex-start;
          gap: 10px;
          align-self: stretch;
        }
        .content_sp {
          width: 100%;
          border-radius: 8px;
          border-color: #fff;
          display: flex;
          height: 80px;
          padding: 8px 16px;
          align-items: flex-start;
          gap: 10px;
          align-self: stretch;
        }
        .wpcf7-submit {
          display: flex;

          padding: 10px 50px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          background-color: $main-co;
          color: #fff;
          border-radius: 8px;
          // border-block-color: #fff;
          border-color: #fff;
          text-align: end;
          position: absolute;
          right: 15px;
        }
      }
    }
  }
  &_map {
    height: 400px;
  }
}
