.single_cam_nang {
  // background-color: #9CA3AF;

  .left_cm {
    // padding: 20px;
    @media (max-width: 600px) {
      padding: 0px;
    }
    .image_cam_nang {
      img {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
      }
    }
    h1 {
      color: var(--pink-pink-4-main, #f92296);
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 44px; /* 122.222% */
      @media (max-width: 600px) {
        line-height: 25px;
      }
    }
    h2{
      font-size: 28px !important;
    }
    h3{
    font-size: 24px !important;
    }
    p {
      color: var(--Gray-800---Main-text, #1f2937);
      text-align: justify;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
    }
  }
  .cam_nang {
    &_right {
      .title_right {
        display: flex;
        h3 {
          margin-left: 5px;
          color: var(--gray-gray-3-main, #1f2937);
          font-size: 22px;
          font-style: normal;
          font-weight: 700;
          line-height: 28px; /* 140% */
        }
      }
    }
  }
  .asc1 {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
  }
  .content_right {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    transition: all 0.5s linear;
    &:hover {
      border-radius: 8px;
      box-shadow: 8px 5px 10px 2px rgba(0, 0, 0, 0.14);
      transform: translate3d(0px, -4px, 15px);
    }
    &:hover .content_main p {
      color: $main-co;
    }
    &_img {
      img {
        border-radius: 8px;
        height: 100px;
      }
    }
    // .bgr_img {
    //   position: absolute;
    //   z-index: -1;
    //   width: 100%;
    //   border-radius: 4px;
    //   img {
    //     width: 100%;
    //     height: 60px;
    //     border-radius: 4px;
    //   }
    // }
    // .cm_overlay {
    //   background-color: #ddd;
    //   width: 100%;
    //   opacity: 60%;
    //   height: 60px;
    //   position: absolute;
    //   z-index: 3;
    //   border-radius: 4px;
    // }
    .content_main {
      display: flex;
      padding: 8px;
      align-items: flex-start;
      gap: 4px;
      align-self: stretch;
      position: relative;
      width: 100%;
      z-index: 5;
      height: 60px;
      border-radius: 4px;
      padding: 15px 10px 0px 10px;

      p {
        color: black;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        text-transform: capitalize;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 0.3s linear;

        &:hover {
          color: $main-co;
        }
      }
    }
  }
}

.related_cm {
  margin-bottom: 20px;
  .related {
    &_wrap {
      display: flex;
      justify-content: space-between;
    }
    &_xem {
      display: flex;
      &:hover i {
        color: $main-co;
      }
      &:hover p {
        color: $main-co;
      }
      i {
        margin-top: 5px;
        margin-right: 5px;
      }
      p {
        font-weight: 600;
      }
    }
    &_title {
      display: flex;
      h3 {
        color: var(--gray-gray-3-main, #1f2937);
        font-size: 23px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        margin-left: 10px;
        margin-bottom: 15px;
      }
    }
    &_item {
      width: 100%;
      h4 {
        overflow: hidden;
        color: var(--Gray-800---Main-text, #1f2937);
        text-overflow: ellipsis;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        text-transform: capitalize;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p {
        overflow: hidden;
        color: var(--Gray-600---Sub, var(--gray-gray-5-sub, #4b5563));
        text-overflow: ellipsis;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        text-transform: capitalize;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &_img {
      img {
        border-radius: 8px;
        height: 250px;
        align-self: stretch;
        width: 100%;
        object-fit: cover;
        @media (max-width: 600px) {
          height: 120px;
        }
      }
    }
  }
}
.bg_left {
  background-color: #fff;
  // padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
}
