.shop_product {
  padding-top: 30px;
  background-color: #f3f4f6;

  .category_product {
    .sidebar {
      .filter-title {
        color: var(--gray-gray-3-main, #1f2937);
        font-size: 23px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 140% */
      }
    }
    .product_main {
      &_top {
        display: flex;
        width: 100%;
        .icon_layout{
          display: flex;
          p{
            margin-right: 10px;
          }
          svg{
            margin-right: 10px;
          }
          #button1 path {
            fill:#9ca3af; /* Thay đổi màu thành đỏ (#FF0000) */
        }
        #button2 path {
          fill: #9ca3af; /* Thay đổi màu thành đỏ (#FF0000) */
      } 
      .icon_layout_active{
         path {
          fill: $main-co !important;
      } 
        
      }
        }
    
        h5 {
          margin-right: 20px;
          color: var(--gray-gray-7-opacity, #9ca3af);
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
        .yith-wcan-filters {
          margin-bottom: 0px;
          width: 45%;
          background-color: #f3f4f6;
          .filter-content{
            background-color: #fff;
          }
        }
      }
    }
  }
}
//  test
.shop_product_main {
  display: flex;
  gap: 20px;
}

.shop_product1 {
  transition: all .5s ;
 

  & .shop_product_wrap {
      display: flex;
      gap: 20px;
      width: 100%;
      justify-content: space-between;
      transition: all .5s linear;
  }

  justify-content: space-between;
  display: flex;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px 10px 20px 10px;
  border-radius: 8px;

  & .shop_product_wrap {
      display: flex;
      gap: 20px;
  }

  & .shop_product_left img {
      border-radius: 8px;
      width: 160px;
      height: 160px;
  }
}

.shop_product_center {
  display: flex;
  flex-direction: column;

  & .product_title h2 {
      color: var(--gray-gray-3-main, #1F2937);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      text-transform: capitalize;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  & .product_sale {
      display: flex;

      & p {
          color: var(--gray-gray-7-opacity, #9CA3AF);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
          text-decoration-line: line-through;
      }

      & span {
          color: var(--second-red, #EF4444);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
          margin-left: 10px;
          /* 128.571% */
      }
  }

  & .product_price p {
      color: var(--second-red, #EF4444);
      font-size: 17px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      /* 150% */
  }
}

.shop_product_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .btn_cart {
      display: flex;
      height: 40px;
      max-height: 40px;
      padding: 8px 16px;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      background: var(--gray-gray-10-bgr, #f3f4f6);
      gap: 8px;
      margin-bottom: 20px;
      color: rgb(249, 34, 150);

      i {
          padding: 15px;
          font-size: 20px;
          font-weight: 500;
      }

      &:hover {
          background: rgb(249, 34, 150);
          color: var(--gray-gray-10-bgr, #f3f4f6);
      }
  }
}

.yith-wcwl-add-button {
  width: 100%;

  a {
      width: 100%;
  }
}

.yith-wcwl-add-to-wishlist {
  margin-top: 0px;
  width: 100%;
}

.woocommerce a.add_to_wishlist.button.alt i {
  padding-right: 0px;
  display: flex;
  justify-content: center;
  margin-right: 0px;
  font-size: 20px;
}

.rating_main i {
  color: orange;
}

/* đã yêu thích */
.yith-wcwl-wishlistexistsbrowse {
  color: red;
  padding: 5px 15px;
  background-color: #f3f4f6;
  border-radius: 6px;

  .feedback {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px 15px;

      .yith-wcwl-icon {
          margin-right: 0px;
          font-size: 20px;
      }
  }
}

.yith-wcwl-wishlistaddedbrowse {
  color: red;
  padding: 5px 15px;
  background-color: #f3f4f6;
  border-radius: 6px;

  .feedback {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px 15px;

      .yith-wcwl-icon {
          margin-right: 0px;
          font-size: 20px;
      }
  }
}

#nav {
  text-align: center;
  margin-bottom: 10px;
  button {
    background-color: #f92296;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 6px;
  }

  a {
    text-decoration: none;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 6px;

    &.active {
      background-color: #f92296;
      color: #fff;
      border-radius: 6px;
    }
  }
}

#yith-wcwl-popup-message{
  display: none !important;
}
.shop_product_customer {
  display: flex;
  flex-direction: column;
}

.shop_product_wrap_customer {
  flex-direction: column;
}

.woocommerce_breadcrumb_ct{
  margin: 0 auto !important;
  font-size: 18px !important;
  padding: 15px 0px 15px 10px !important;
}

.price{
  color: $main-co !important;
  font-size: 20px !important;
}
 #block-5{
  display: none;
 }
 #block-6{
  display: none;
 }